# SPDX-License-Identifier: GPL-2.0
#
# vim: set ts=8 sw=8 noet tw=80 cc=80 fo+=t :

# ======================================
# Compilation & Build System (C / CMake)
# ======================================
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
CTestTestfile.cmake
compile_commands.json

# Binaires & Objets C
*.o
*.a
*.so
*.so.*
*.out
*.elf

# =======================
# Scripts Shell & Tooling
# =======================
*.clang-format-backup
*.sh.bak

# ==================
# Éditeurs & Système
# ==================
.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

.vscode-ctags
build
compile_commands.json
.cache
.tldr