# SPDX-License-Identifier: GPL-2.0
#
# vim: set ts=8 sw=8 noet tw=80 cc=80 fo+=t :

# Required kernel config options for kgdb
[7.*.*]
CONFIG_KGDB=y
CONFIG_KGDB_SERIAL_CONSOLE=y # kgdboc: KGDB over console
CONFIG_KGDB_KDB=y            # optional: built-in KDB shell
CONFIG_FRAME_POINTER=y       # reliable stack traces
CONFIG_DEBUG_INFO=y          # symbol information in vmlinux
CONFIG_GDB_SCRIPTS=y         # GDB python scripts for kernel types
CONFIG_RANDOMIZE_BASE=n      # deactivate KASLR
CONFIG_DEBUG_INFO_DWARF4=y   # DWARF4 format